<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concept - Drug Administration Using ML</title>
    <link rel="stylesheet" href="../static/menu_stylesheet.css">
    <link rel="icon" href="../static/res/400x400.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
		$('.navbar-fostrap').click(function(){
			$('.nav-fostrap').toggleClass('visible');
			$('body').toggleClass('cover-bg');
		});
	});
    </script>
</head>
<body>
    <div id="main">
        <div class="container">
          </div>
          <nav>
            <div class="nav-fostrap">
            <a href="" class="title-desktop">Drug Administration ML</a>
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="javascript:void(0)">About<span class="arrow-down"></span></a>
                  <ul class="dropdown">
                    <li><a href="about">About the Concept</a></li>
                    <li><a href="https://danishshakeel.me" target="_blank">About the Developer</a></li>
                  </ul>
                </li>
                <li><a href="javascript:void(0)">Feedback<span class="arrow-down"></span></a>
                    <ul class="dropdown">
                        <li><a href="https://forms.gle/8Xb9KGrHDKEhag429" target="_blank">Suggestions</a></li>
                      <li><a href="https://forms.gle/PEMsSvfKgFoupFSR6" target="_blank">Report a bug</a></li>
                    </ul>
                </li>
                <li><a href="https://github.com/danish17/drug-administration-ml" target="_blank">Contribute</a></li>
            </ul>
            </div>
            <div class="nav-bg-fostrap">
              <div class="navbar-fostrap"> <span></span> <span></span> <span></span> </div>
              <a href="" class="title-mobile">Drug Administration ML</a>
            </div>
          </nav>
          <div class='content'>
          </div>
      </div>

      <div id="About" class="tabcontent" style="padding: 10px 10px 10px 10px; text-align: justify;">
      Patients don’t respond in similar ways when the same drug is given in a standard dose. Several
      factors can alter blood drug concentrations. Therapeutic Drug Monitoring (TDM) is used for
      monitoring the drugs with narrow therapeutic index and marked pharmacokinetic variability.
      Therapeutic ranges used in TDM are mere recommendations based on the clinical response of a
      small group of patients taking the drug. Most drugs are usually assigned a single therapeutic
      range for all indications, at all ages, and regardless of co-medication and co-morbidities. 
      Therapeutic reference ranges should be population and indication specific. <br><br>
      The studies have found genetic differentiation among various Indian ethnic groups.
      A recent Indian genome variation consortium (IGVC) study of genetic markers in 55 diverse
      Indian populations revealed high heterogeneity among the Dravidian populations and showed
      dissimilarity with HapMap populations. 
      It has been observed that 20.56% North Indian population are poor drug metabolizers for the category of drugs metabolized by CYP2B6. <br><br>
      CYP2C9* 3 has been found the most frequent mutant allele in healthy controls and idiopathic
      epilepsy patients of ethnic Kashmiri population.Due to these genetic variations, the references
      ranges of drugs used in TDM, established elsewhere may not be fit for our population. <br><br>
      To assist the pharmacologists to overcome the complex issues of local population based
      therapeutic ranges due to genetic differences, and prediction of drug dose to achieve a specific blood level or vice-versa, this
      webapp has been developed, especially for the Department of Clinical
      Pharmacology, SKIMS, Kashmir. Any one is free to use it, and contribute to it, since it is open-source. This is the alpha version of the
      model. <br>
      If you wish to add a specific drug, and have the dataset for it, please contact <a href="mailto: hi@danishshakeel.me" target="_blank">hi@danishshakeel.me</a>
      </div>

      <h2>Note: This tool can supplement your clinical judgement, but can never replace it. Kindly correlate the predictions with your clinical findings.</h2>

      <blockquote>"It Is Quite As Important To Know What Kind of a Patient the Disease Has Got As To Know What Kind of a Disease the Patient Has Got."<br> ~William Osler</blockquote>
      
      <img src="../static/res/800x800.png" alt="Drug Development ML Logo">
    <footer style="width:100%; background-color:#03A9F4; position: absolute; top: 95%; height:5%;">
        <h3 id="credits" style="color: white; position:absolute; left: 50%; transform:translateX(-50%); top: 10px;">
            Developed by Danish Shakeel <a href="https://danishshakeel.me" target="_blank" style="color: white;">(View Profile)</a></h3>    
      </footer>
</body>

<style>
    @media only screen and (max-width:900px){
        footer{
            display: none;
        }
    }
    h2{
      font-size: 15px;
      margin-bottom: 10px;
      position: relative;
      padding-left: 10px;
    }
    img{
      width: 200px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
    blockquote{
      padding-left: 10px;
      font-size: 18px;
      font-weight: bolder;
      color: red;
    }
</style>
</html>